.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  background: no-repeat url(../../../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  right: -210px;
  top: 0;
  z-index: -1;
}
